/* Place Your Custom Styles Here */


.modal-dialog {
    max-width: 90%; /* 設置modal寬度 */
    max-height: 90%; /* 設置modal高度 */
  }

.btn-prot{
    font-size: 5vh;
}

.h-prot{
    font-size: 3vh;
}


.carousel-indicators li {
    background-color: rgba(17, 89, 205, 0.5);
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-indicators .active {
    background-color: #939393;
    /* opacity: 1; */
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }

  .h_title:before {
    content: "●";
    /* margin-left: -1em; */
    display: inline-block;
    color: #2a9696;
  }

  .h_title {
    text-indent: 0.1rem;
  }
  

  .longcare_btn {
    width: 160px;
  }


  .btn-p1 {
    color: #fff;
    background-color: rgba(0, 80, 91, 1);
    border-color: rgb(1, 63, 71);
    box-shadow: none;
  }
  .btn-p1:hover {
    color: #fff;
    background-color: rgb(2, 60, 68);
    border-color: rgb(1, 59, 66);
  }
  .btn-p1:focus, .btn-p1.focus {
    color: #fff;
    background-color: rgba(0, 80, 91, 1);
    border-color: rgb(2, 102, 116);
    box-shadow: none, 0 0 0 0 rgba(0, 80, 91, 0.5);
  }
  .btn-p1.disabled, .btn-p1:disabled {
    color: #fff;
    background-color: rgba(0, 80, 91, 1);
    border-color: rgb(1, 59, 66);
  }
  .btn-p1:not(:disabled):not(.disabled):active, .btn-p1:not(:disabled):not(.disabled).active, .show > .btn-p1.dropdown-toggle {
    color: #fff;
    background-color: rgb(2, 102, 116);
    border-color: rgb(2, 102, 116);
  }
  .btn-p1:not(:disabled):not(.disabled):active:focus, .btn-p1:not(:disabled):not(.disabled).active:focus, .show > .btn-p1.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(0, 80, 91, 0.5);
  }


  .btn-p2 {
    color: #fff;
    background-color: rgba(42, 150, 150);
    border-color: rgba(42, 150, 150);
    box-shadow: none;
  }
  .btn-p2:hover {
    color: #fff;
    background-color: rgb(35, 126, 126);
    border-color: rgba(42, 150, 150);
  }
  .btn-p2:focus, .btn-p2.focus {
    color: #fff;
    background-color: rgb(33, 119, 119);
    border-color: rgba(42, 150, 150);
    box-shadow: none, 0 0 0 0 rgba(42, 150, 150, 0.5);
  }
  .btn-p2.disabled, .btn-p2:disabled {
    color: #fff;
    background-color: rgb(43, 129, 129);
    border-color: rgba(42, 150, 150);
  }
  .btn-p2:not(:disabled):not(.disabled):active, .btn-p2:not(:disabled):not(.disabled).active, .show > .btn-p2.dropdown-toggle {
    color: #fff;
    background-color: rgba(42, 150, 150);
    border-color: rgba(42, 150, 150);
  }
  .btn-p2:not(:disabled):not(.disabled):active:focus, .btn-p2:not(:disabled):not(.disabled).active:focus, .show > .btn-p2.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(42, 150, 150, 0.5);
  }


  .btn-p3 {
    color: #fff;
    background-color: rgba(117, 169, 183, 1);
    border-color: rgba(117, 169, 183, 1);
    box-shadow: none;
  }
  .btn-p3:hover {
    color: #fff;
    background-color: rgb(93, 136, 148);
    border-color: rgba(117, 169, 183, 1);
  }
  .btn-p3:focus, .btn-p3.focus {
    color: #fff;
    background-color: rgb(97, 141, 153);
    border-color: rgba(117, 169, 183, 1);
    box-shadow: none, 0 0 0 0 rgba(117, 169, 183, 0.5);
  }
  .btn-p3.disabled, .btn-p3:disabled {
    color: #fff;
    background-color: rgba(117, 169, 183, 1);
    border-color: rgba(117, 169, 183, 1);
  }
  .btn-p3:not(:disabled):not(.disabled):active, .btn-p3:not(:disabled):not(.disabled).active, .show > .btn-p3.dropdown-toggle {
    color: #fff;
    background-color: rgba(117, 169, 183, 1);
    border-color: rgba(117, 169, 183, 1);
  }
  .btn-p3:not(:disabled):not(.disabled):active:focus, .btn-p3:not(:disabled):not(.disabled).active:focus, .show > .btn-p3.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(117, 169, 183, 0.5);
  }

  .btn-outline-prot {
    color: #2A9696;
    border-color: #2A9696;
  }
  .btn-outline-prot:hover {
    color: #fff;
    background-color: #2A9696;
    border-color: #2A9696;
  }
  .btn-outline-prot:focus, .btn-outline-prot.focus {
    box-shadow: 0 0 0 0 rgba(41, 187, 206, 0.5);
  }
  .btn-outline-prot.disabled, .btn-outline-prot:disabled {
    color: #2A9696;
    background-color: transparent;
  }
  .btn-outline-prot:not(:disabled):not(.disabled):active, .btn-outline-prot:not(:disabled):not(.disabled).active, .show > .btn-outline-prot.dropdown-toggle {
    color: #fff;
    background-color: #2A9696;
    border-color: #faffff;
  }
  .btn-outline-prot:not(:disabled):not(.disabled):active:focus, .btn-outline-prot:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-prot.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(41, 187, 206, 0.5);
  }

  .btn-outline-info {
    border-color: #2A9696;
  }

  .chapter-position {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #ffffff;
    color: gray;
    box-shadow: 1px 1px 4px #c4c4c4;
    padding-inline: 10px;
    z-index: 9999;
  }

  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #2A9696;
    border-color: #2A9696;
}

.btn-outline-primary {
  --bs-btn-color: #2A9696;
  --bs-btn-border-color: #2A9696;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2A9696;
  --bs-btn-hover-border-color: #2A9696;
  --bs-btn-focus-shadow-rgb: 13,110,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2A9696;
  --bs-btn-active-border-color: #2A9696;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #2A9696;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2A9696;
  --bs-gradient: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #2A9696;
}


.custom-modal-dialog {
  max-width: auto;
  max-height: 90vh;
  /* width: 70vw; */
  margin: 5px;
}

.prot_p1_word {
  color:rgb(111, 191, 188);
  font-weight: bold;
}

.close-icon {
  position: absolute;
  top: 0px; /* Adjust this value based on your image size */
  right: -20px; /* Adjust this value based on your image size */
  width: 32px; /* Adjust this value based on your image size */
  height: 32px; /* Adjust this value based on your image size */
  cursor: pointer;
}



ul li {
  font-size: 1vw;
}

ul li.no-point {
  list-style-type: none;
}